.wp-block-allegro{
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.product-title{
    margin:0;
}

/* sku */
.cf-sku{
    width: 100%;
    margin:0 0 20px 0;
}

.product-sku {
    color: #666;
    margin-bottom:0 !important;
    margin-top:0 !important;
    font-size: .85rem;
}

/* whatsapp */
.cf-whatsapp{
    text-align: center;
    width: 100%;
}

/* youtube e site oficial */
.cf-extras{
    text-transform: uppercase;
    font-size: .86rem;
    font-weight: bold;    
    display: block;
    margin:0;
}

.cf-youtube, .cf-site-oficial {
    display: inline-block;
    margin:0;
}

.cf-site-oficial a {
    /* margin: 0.5rem 0rem 1rem 0rem; */
    padding: 0.65rem 0.85rem 0.65rem 0.85rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

    border: 1px solid var(--wp--preset--color--black);
    font-size: .8rem;
    text-decoration: none;
    color: var(--wp--preset--color--light-black);
}

.cf-youtube a {
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0.65rem 0.85rem 0.65rem 0.85rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

    border: 1px solid #d00;
    font-size: .8rem;
    text-decoration: none;
    color: var(--wp--preset--color--light-black);
}


/* observações */
.cf-observacoes{

    background-color: var(--wp--preset--color--light-gray);
    margin: 0.5rem 0rem 0 0rem;
    border: 1px dashed var(--wp--preset--color--medium-gray);
    text-align: center;

}

.cf-observacoes p{
    color: rgb(56, 56, 56);    
    font-size: .86rem;
    font-weight: bold;
}

/* custom fields */
.cf-custom-fields{
    font-size: var(--wp--preset--font-size--small);
    text-transform: uppercase;
    font-weight: bold;
}
.cf-lancamento, .cf-experimentacao, .cf-encomenda{
    margin: 0 0 10px 0;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    display: inline-block;    

    color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.cf-lancamento{
    /* background-color: #ffcc00;
    color: var(--wp--preset--color--black); */
}

.cf-experimentacao{
    /* background-color: rgba(38, 171, 91, 1);
    color: var(--wp--preset--color--white); */
}

.cf-encomenda{
    /* color: rgb(255, 255, 255);
    background-color: rgba(141, 18, 121, 1); */
}

.cf-lancamento p, .cf-experimentacao p, .cf-encomenda p{
    padding: 10px;
    display: inline-block;
    margin: 0;
}

.cf-disponivel{

    font-size: .86rem;
    font-weight: bold;
}
























/* PRICE */


/* sku */


hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

.pricing-section {
    margin: 0;

}

.main-price {
    margin-bottom: 0;
    background-color: #fc0;
}

.payment-condition{
    margin: 0;
    background-color: #f00;
}

.price {
    font-size: 36px;
    font-weight: bold;
    color: #e30000;
    background-color: #999;
}

.payment-term {
    font-size: 24px;
    color: #e30000;
    margin-left: 5px;
    line-height: 15px;
    background-color: #333;
}

.savings {
    font-weight: bold;
    font-size: 1rem;
    margin:0 0 10px 0;
    background-color: greenyellow;
}

.regular-price {
    /* font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 15px; */
    line-height: 15px; */
    background-color: #839;
}

.installment-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-icon {
    font-size: 24px;
    margin-right: 10px;
}

.installment-text {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    font-size: 15px;
}

.payment-options {
    color: #555;
    text-decoration: none;
    margin-top: 5px;
    background-color: #25d366;
}

.purchase-section {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
        background-color: #25d366;
}

.quantity-selector {
    display: flex;
    position: relative;
    width: 80px;
}

.quantity-input {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.quantity-buttons {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.quantity-button {
    flex: 1;
    width: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.quantity-button.plus {
    border-bottom: none;
    border-radius: 0 4px 0 0;
}

.quantity-button.minus {
    border-radius: 0 0 4px 0;
}

.single_add_to_cart_button {
    flex: 1;
    width: 400px;    
    background-color: #e30000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: var(--wp--preset--font-size--medium);
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
}












.single_add_to_cart_button:before {
    content: '\f07a'; /* Unicode for FontAwesome shopping cart icon */
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.whatsapp-button {
    width: 100%;
    padding: 12px;
    /* background-color: white;
    color:rgba(38, 171, 91, 1);
    border: 1px solid rgba(38, 171, 91, 1);; */

    color: white;
    background-color:rgb(15, 119, 57);
    border: 1px solid rgb(6, 58, 27);;

    
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.availability {
    margin: 15px 0;
    font-size: 16px;
}

.availability span {
    font-weight: bold;
}

.shipping-calculator {
    margin: 20px 0;
}

.shipping-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

.shipping-icon {
    margin-right: 10px;
    font-size: 20px;
}

.shipping-input {
    display: flex;
    gap: 10px;
}

.cep-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f9fa;
    font-size: 16px;
}

.ok-button {
    background-color: #e30000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
}

.shipping-options {
    margin-top: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.shipping-option {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.shipping-option:last-child {
    border-bottom: none;
}

.shipping-price {
    width: 100px;
    font-weight: bold;
}

.shipping-time {
    width: 100px;
    font-weight: bold;
}

.shipping-method {
    flex: 1;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}      









/**
    * WooCommerce
*/  
.woocommerce-privacy-policy-text {
    display: none;
}

.wc-block-grid__product-onsale{
    background-color: rgba(198, 75, 75) 0.7;
}


/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */


/* box de produto na home */
.wc-block-product-template__responsive>li {
    margin-block-start: 0;
    border: solid;
    padding: 20px;
    border-radius: 10px;
    border-color: #ccc;
    border-width: 1px;
}

/* selo de oferta/promocao */
.wc-block-components-product-sale-badge {
    background: var(--wp--preset--color--primary) !important;
    border: none !important;
    color: var !important;
}





/* calculo de frete */

#woocommerce-correios-calculo-de-frete-na-pagina-do-produto{
    background-color: #999 !important;
}

.containerCalculator{
    width: auto !important;
}

.calculatorRow p{
    margin:0 0 20px 0 !important;
}


/* variações */

.variations{
    border: 1px solid #ccc !important;
}

.variations td{
    padding-bottom: 0 !important;
};

.variations tr td select#cores{
    background-color: #555 !important;
    color: var(--wp--preset--color--white) !important;
}


/* Main info-destaque container */
.info-destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 6;
    overflow: hidden;
    padding: 5px 10px;
    font-weight: bold;
    background-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--white);    
    text-align: center;
}

/* Link styles */
.info-destaque a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text styles */
.info-destaque .info-texto {
    white-space: break-spaces;
    font-size: 1rem;
    line-height: 17px;
}

.shipping-text{
    margin-left: 10px;
}




/* icones */

.fa-credit-card{
    color: #555;
}
.fa-youtube{
    color: #d00;
}
.fa-globe{
    color: #555;
}





























  /* Responsive styles */
  @media screen and (max-width: 768px) {

    .cf-lancamento, .cf-experimentacao, .cf-encomenda{
        display: block;
    }   

    .cf-lancamento p, .cf-experimentacao p, .cf-encomenda p{
        padding: 10px;
        display: block;
    }   
    

  }

    



