
.woocommerce-privacy-policy-text {
    display: none;
}


/**
    * WooCommerce
*/  

.wc-block-grid__product-onsale{
    background-color: rgba(198, 75, 75) 0.7;
}








/* 

body .et_pb_button, button.single_add_to_cart_button  {
    color:#fff !important;
}

.woocommerce-product-details__custom-fields-disponivel_para_experimentacao{

    color: #333;
    background-color: #33663350;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    margin:10px 0;
}

.woocommerce-product-details__custom-fields-vendido_por_encomenda{
    color: #333;
    background-color: #99000050;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.woocommerce-product-details__custom-fields-lancamento{
    color:#f90;
    font-weight: bold;
}


.social-media-box h2 {
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
    font-size: 14px;
    color: #666;
    font-weight: bold;    
}

.woocommerce-product-details__custom-fields-site_oficial{
    padding:10px 0 0;
}

p.price{
    padding:20px 0 0 0;
}

li p.price{
    padding-top:0px
}

.woocommerce-breadcrumb{
    padding: 0 0 20px 0;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}

.et-cart-info {
    display: none;
}

.woocommerce-Tabs-panel h2{
    display:none;
}

.woocommerce-products-header{
    margin-bottom:30px;
}

.wc-tab h4{
    font-family: "PT Sans", Helvetica, Arial, Lucida, sans-serif;
    color:#666;
    line-height: 2em;
}


strike {
text-decoration: none;
}

p.price{
	padding:0 0 5px 0;
	line-height:2em;
}

.woocommerce-breadcrumb{
	padding: 0 0 20px 0;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}

.woocommerce-variation-add-to-cart button.single_add_to_cart_button{
    margin-bottom:10px;
    margin-right:10px;
}


.variation-title{
	font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif;
	font-size:16px;
	color:#666;
	font-weight:bold;
}

span.onsale {
    background-color: #000!important;
    color: #fff;
	font-size:12px!important;
	text-transform:uppercase;
	display:none;
}

.woocommerce button.button.alt.disabled{
    background-color: #666!important;
    color: #fff;
}



p.out-of-stock{
    color:#f00;

}

.entry-summary p.price span,
.price .woocommerce-Price-amount {

	color:#2ea3f2;
	font-weight:bold;
}
.woocommerce div.product p.price,
.price {
    color:#666;
	font-weight:bold !important;    
}


.email-warning .success,
.et-pb-contact-message p.message {
    color: #fff;

    text-align: center;
    background-color:#363;
    padding:10px 0;
    line-height: 1em;
}

.email-warning .success{
	padding-bottom:20px;
}

.contact-form-checkout p{

}
.contact-form-checkout .et_pb_contact{
    margin-top:20px;
}

.woocommerce ul.products li.product strong{
    display:inline!important;
}

.up-sells .price,
.related.products .price{
    visibility:hidden;
}

h1.et_pb_contact_main_title{
    visibility:hidden;
}

.et_pb_contact{
	margin-top:10px;
} 
#footer-info a,
#footer-info{
    color:#ccc;
}

.custom_buttom-section{
clear: both;
padding: 10px 0 0 0;
text-align: center;
}

.woocommerce div.product form.cart{
    margin: 0 !important;
}
.mensagem_ecommerce{
    font-size: x-small;
    color:#666;
    padding:5px 0;
} */

/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */
/* DAQUI PRA BAIXO É DO TEMA 2025 */


/* box de produto na home */
.wc-block-product-template__responsive>li {
    margin-block-start: 0;
    border: solid;
    padding: 20px;
    border-radius: 10px;
    border-color: #ccc;
    border-width: 1px;
}

/* selo de oferta/promocao */
.wc-block-components-product-sale-badge {
    background: #d00 !important;
    border: none !important;
    color: #fff !important;
}